<div class="container-fluid mt-5 content white-font smallFluidContainer">
  <div class="row">
    <div class="col-12">
      <h4>
        Übersicht virtuelle Maschinen
      </h4>
      <p>
        Hier können Sie virtuelle Maschinen hochladen, herunterladen, bearbeiten und l&ouml;schen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>
        Suchen
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12 col-md-5 col-xl-5">
          <input type="text" class="form-control mr-5" id="search" (keyup)="applyFilter($event.target.value)" value="{{passedFilter}}">
        </div>
        <div class="col-12 col-md-5 col-xl-3 mt-3 mt-md-0">
          <select id="searchselect" class="form-control" disabled>
            <option>Alle anzeigen</option>
          </select>
        </div>
        <div class="col-12 col-md-2 col-xl-2 mt-3 mt-md-0">
          <strong>Sichtbar: {{amountOfVms}}</strong>
        </div>
        <div class="col-12 col-md-12 col-xl-2 text-right mt-3 mt-xl-0">
          <a class="button text-box" routerLink="/vms/newvm"><i class="fa fa-plus-circle"></i><b>&nbsp;Neue
            VM</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <a class="deletebutton text-box"(click)="deleteVm()">
        <i class="fa fa-trash"></i><b> VM löschen</b>
      </a>
    </div>
  </div>
</div> <!-- container -->
<div class="container-fluid mt-3 smallFluidContainer">
  <div class="row mt-3">
    <mat-table class="mat-table-list" #table [dataSource]="vms" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell class="checkboxSpalte" *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" color="warn">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell class="mat-cell-list" *matCellDef="let row" class="checkboxSpalte">{{row.ownerId | matchId:users:row}}
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="imageName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell class="mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.imageName}}</mat-cell>
      </ng-container>

      <!-- Betriebssystem Column -->
      <ng-container matColumnDef="osId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> OS </mat-header-cell>
        <mat-cell class="mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{osList[element.osId - 1]?.osName}}</mat-cell>
      </ng-container>

      <!-- Besitzer Column -->  
      <ng-container matColumnDef="ownerId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Besitzer </mat-header-cell>
        <mat-cell class="mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.ownerId}}</mat-cell>
      </ng-container>

      <!-- Geändert Column -->
      <ng-container matColumnDef="updateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Geändert </mat-header-cell>
        <mat-cell class="mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.updateTime * 1000 | date:'dd.MM.yyyy, HH:mm'}}</mat-cell>
      </ng-container>

      <!-- Ablaufdatum Column -->
      <ng-container matColumnDef="expireTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ablaufdatum </mat-header-cell>
        <mat-cell class="mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.expireTime * 1000 | date:'dd.MM.yyyy, HH:mm'}}</mat-cell>
      </ng-container>

      <!-- Größe Column -->
      <ng-container matColumnDef="fileSize">
        <mat-header-cell class="kleineSpalte" *matHeaderCellDef mat-sort-header> Größe </mat-header-cell>
        <mat-cell class="kleineSpalte mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.fileSize | size}}</mat-cell>
      </ng-container>

      <!--Verwendbar Column-->
      <ng-container matColumnDef="isValid">
        <mat-header-cell class="kleineSpalte" *matHeaderCellDef mat-sort-header> Verwendbar </mat-header-cell>
        <mat-cell *matCellDef="let element" class="kleineSpalte mat-cell-list"[routerLink]="['/vms', element.imageBaseId]"><input type="checkbox" [checked]="element.isValid" disabled></mat-cell>
      </ng-container>

      <!--Vorlage Column-->
      <ng-container matColumnDef="isTemplate">
        <mat-header-cell class="kleineSpalte" *matHeaderCellDef mat-sort-header> Vorlage </mat-header-cell>
        <mat-cell class="kleineSpalte mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]"><input type="checkbox" [checked]="element.isTemplate" disabled></mat-cell>
      </ng-container>

      <!-- Version Column -->
      <ng-container matColumnDef="versionCount">
        <mat-header-cell class="kleineSpalte" *matHeaderCellDef mat-sort-header> Version </mat-header-cell>
        <mat-cell class="kleineSpalte mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.versionCount}}</mat-cell>
      </ng-container>

      <!-- Gesamtgröße Column -->
      <ng-container matColumnDef="fileSizeSum">
        <mat-header-cell class="kleineSpalte" *matHeaderCellDef mat-sort-header> Gesamtgröße </mat-header-cell>
        <mat-cell class="kleineSpalte mat-cell-list" *matCellDef="let element" [routerLink]="['/vms', element.imageBaseId]">{{element.fileSizeSum | size}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selection.toggle(row)">
      </mat-row>
    </mat-table>
  </div>
</div>
